/* -----------------------------------------------
 * Содержимое вкладок (иконки, кнопки)
 * --------------------------------------------- */

/* Контейнер вкладки позиционируется относительно */
.tab-content {
  position: relative !important;
}

/* Скрытие кнопки закрытия по умолчанию */
.tab-content > image.tab-close-button.close-icon {
  display: none !important;
}

/* Показ кнопки закрытия при наведении на вкладку */
.tab-content:hover > image.tab-close-button.close-icon {
  display: block !important;
}
