/* -----------------------------------------------
 * Базовые переменные интерфейса
 * --------------------------------------------- */
:root {
  /* Минимальная высота вкладок */
  --tab-min-height: 30px !important;

  /* Радиус скругления углов кнопок на панели инструментов (Назад, Вперёд, Домой и т.д.) */
  --toolbarbutton-border-radius: 8px !important;

  /* Радиус скругления углов вкладок */
  --tab-border-radius: 8px !important;

  /* Отступы для пунктов выпадающего меню */
  --arrowpanel-menuitem-padding: 6px !important;
}
